QtProject.conf
libfm/
dconf/
procps/
yay/
rstudio/
R/
htop/
mpv/
pcmanfm/
Bitwarden/
yay/
vlc/
torbrowser/
rstudio/
Signal/
BraveSoftware/
discord/
godot/
libreoffice/
GIMP/
nordvpn/
systemd/
VeraCrypt/
xfce4/
sqlitebrowser/
zoom.conf
zoomus.conf
qBittorrent/
