QtProject.conf
libfm/
dconf/
procps/
yay/
rstudio/
R/
htop/
mpv/
pcmanfm/
Bitwarden/
yay/
vlc/
torbrowser/
rstudio/
Signal/
BraveSoftware/
discord/
godot/
libreoffice/
GIMP/
nordvpn/
systemd/
VeraCrypt/
xfce4/
sqlitebrowser/
qBittorrent/
GB Studio/
aseprite/
calibre/
desmume/
dolphin-emu
filezilla/
flameshot/
gh/
go/
mupen64plus/
snes9x/
PySimpleGUI/
TasEmulators/
bolt-launcher/
qrcp/
